<?xml version='1.0' encoding='utf-8' ?>
<widget id="ca.edumedia.tonk0006.finalapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FinalApp</name>
    <description>
        Final Project for MAD9022 course.
    </description>
    <author email="tonk0006@algonquinlive.com" href="http://www.algonquincollege.com/mediaanddesign/program/mobile-application-design-and-development/">
        Justin Bennet and Vladimir Tonkonogov
    </author>
    <preference name="Fullscreen" value="true" />
    <preference name="orientation" value="landscape" />
    <content src="index.html" />
    <access origin="*" />
</widget>