/*
    Course: MAD9022 Cross-Platform App Development
    Students: Justin Bennet & Vladimir Tonkonogov
    Project: Final App
 */

/**************************************
          DEFAULTS
***************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:link,
*:visited,
*:hover,
*:active,
*:focus,
.active {
    -webkit-transition: color .5s linear, background-color .7s ease-out, opacity .5s ease-in-out, -webkit-transform .6s;
    transition: color .5s linear, background-color .7s ease-out, opacity .5s ease-in-out, transform .6s .1s;
}

html,
body {
    background-color: #fff;
}

body {
    font-size: 5vmin;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 1.6;
    color: #000;
}

p {
    font-size: 1.2rem;
    line-height: 2;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/**************************************
          PAGES
**************************************/

[data-role=page] {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    position: absolute;
    padding: 1rem 1rem 4rem 1rem;
    opacity: 1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[data-role=page].active {
    border-radius: 15px;
    width: 100%;
    min-height: 62.5%;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #fff;
    border: 2px solid #000;
}

#firstdiv {
    float: left;
    width: 68%;
}

#seconddiv {
    float: left;
    width: 32%;
}

#txt {
    width: 16rem;
    font-size: 1rem;
    padding: 0.25rem 1rem;
    margin: 1rem 2.4rem;
}

.radiobtn {
    float: left;
    width: 35%;
    margin-left: 2rem;
}

#radiotop {
    margin-left: 2.6rem;
}

.radiotxt {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
}

#btnAdd,
#btnSave {
    padding: 3rem;
    margin: 2rem 0 2rem 5.6rem;
    font-size: 1rem;
}

#btnSave {
    margin: 1.6rem 0 1.6rem 6.9rem;
}

canvas {
/*    border-radius: 15px;*/
/*    padding: 2px;*/
    margin-top: 2rem;
/*    border: 2px solid #f00;*/
}
/**************************************
          TITLE
***************************************/

.apptitle {
    height: 4rem;
    background: #fff;
    color: #000;
    border-radius: 0 0 15px 15px;
    border: 2px solid #000;
}

.apptitle h1 {
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 1rem 1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px #aaa;
    letter-spacing: 10px;
    word-spacing: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/**************************************
          NAVBAR 
***************************************/

.tabs {
    height: 4rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tabs ul {
    list-style: none;
    overflow: hidden;
}

.tabs li {
    float: left;
    height: 4rem;
}

.li-1-2 {
    width: 50%;
}

.tabs [data-role=pagelink] {
    color: #000;
    background: #fff;
    display: block;
    text-align: center;
    height: 4rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2rem;
    padding: 1rem 1rem;
    text-shadow: 2px 2px 10px #777;
    border: 2px solid #000;
    border-radius: 15px 15px 0 0;
    -webkit-box-shadow: inset 2px 2px 6px rgba(33, 33, 33, 0.5);
    -moz-box-shadow: inset 2px 2px 6px rgba(33, 33, 33, 0.5);
    box-shadow: inset 2px 2px 6px rgba(33, 33, 33, 0.5);
}

.tabs [data-role=pagelink].activetab {
    background: #000;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 10px #555;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tabs [data-role=pagelink].activetab svg {
    fill: #fff;
}

.linkarea {
    float: left;
    width: 40%;
}
/**************************************
          ICONS 
***************************************/

svg {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

/**************************************
       JUSTIN - GRID PAGE 
***************************************/

.imgContainer {
	display:inline-block;
	padding: 1rem;
	text-align: center;
	width: 24%;
}

.thumb {
	max-width: 180px;
	margin: 0 auto;
	width: 75%;
}

.delBtn {
	background-color: #6C89E7;
	border: none;
	color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;	
	height: 2.4rem;
	margin: 1rem auto;
	max-width: 180px;
	transition: all .5s;
	width: 75%;
}


/**************************************
       JUSTIN - FULL PHOTO PAGE 
***************************************/


#fullphoto {
    background-color: rgba(0, 0, 0, .95);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
/*    min-height: 100vh;*/
    width: 100%;
}

#fullphoto img {
    display: block;
    margin: 5rem auto 5rem auto;
}

#photoClose {
    background-color: rgba(255, 255, 255, .4);
    border: none;
    color: #FFF;
    height: 7vh;
    margin: 0 35%;
    width: 30%;
    font-size: 1rem;
}
